
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
  font-family: 'Kanit', sans-serif;
  font-size: 10px;
}



/* ไฟกระพริบสถานะ */
.status-on {
  background-color: rgb(9, 226, 38);
}

.status-off {
  background-color: red;
  animation: blink-animation 1s infinite alternate;
}

@keyframes blink-animation {
  0% {
    background-color: red;
  }
  50% {
    background-color: white;
  }
}

.table1 tr{
  width: 50px;
}




.table2.status-cell div {
  width: 5px; 
  height: 5px; 
}











/* เม้าชี้แสดง ip */
.status-cell {
  
  position: relative;
}

.status-cell:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%; /* จากด้านล่างของบล็อก */
  left: 100%; /* จากซ้ายของบล็อก */
  transform: translateX(-50%);
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
  white-space: nowrap;
  font-size: 14px; /* ปรับขนาดของ font */
  z-index: 999; /* กำหนดลำดับแสดงของ layer */
}


.table1 {
  border-collapse: collapse;
  width: 100%;
}

.table1 th {
  background-color: #c4c4c4; 

  width: 80px; /* กำหนดความกว้างของ th เป็น 100px */
}

.table1 th,
.table1 td {
  
  border-collapse: collapse;
  border: 1px solid black; 
   width: 100px;
   vertical-align: top;
  text-align: center; 
}




.table3 {
  border-collapse: collapse; 
}

.table3 th,
.table3 td {
  border: 1px solid black; 
}

.table3 th {
  text-align: left;
 
}

.table3 td {
  width: 5px;
  text-align: center; 
}

.room-name2 {
  font-weight: bold;
  background-color: #c4c4c4; 

}


.table3 {
  border-collapse: collapse;
  width: 100%;
}

.table-4 td {
  border: 1px solid black;
  padding: 4px;
  width: 15px;
  
}


.table1 {
  width: 100%;
}

.table2, .table-4 {
  width: auto; 
}

.room-name2 {
  font-weight: bold;
}

.date {
  position: absolute;
  top: 1px; 
  right: 1px; 

  background-color: rgba(230, 221, 105, 0.8); /* สีของพื้นหลัง */
  padding: 0px 1cm ; /* ขนาดของพื้นหลัง */
  border-radius: 5px; /* รัศมีของมุมของกรอบ */

}

.room-status{
  width: 100%;

}

.title1 {
  font-size: 28px;
  position: absolute; /* เปลี่ยนจาก absolute เป็น relative */
  top: 0; /* ให้อยู่ตรงกับตำแหน่งปัจจุบัน */
}

.title2 {
  font-size: 20px;
  position: absolute;
  top: 45px; /* ปรับค่า top เพื่อให้ลอยลงมาจาก .title1 */
}

.title3 {
  font-size: 18px;
  position: absolute;
  top: 75px; /* ปรับค่า top เพื่อให้ลอยลงมาจาก .title1 */
}

.title4 {
  font-size: 18px;
  position: absolute;
  top: 100px; /* ปรับค่า top เพื่อให้ลอยลงมาจาก .title1 */
}


.title5 {
  font-size: 15px;
  position: absolute;
  top: 130px; /* ปรับค่า top เพื่อให้ลอยลงมาจาก .title1 */
}




.img-container {
  text-align: center; /* จัดข้อความใน div ให้ตรงกลาง */
}

/* 

.table-4 td {
  width: 20px; 
} */
