@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
  font-family: 'Kanit', sans-serif;
  font-size: 10px;
}

.vertical-header {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  
  .caption-text {
    font-size: 15px; /* ปรับขนาดตัวอักษรตามที่ต้องการ */
  }


  /* ในไฟล์ table3.css */
.container {
    display: flex;
    gap: 20px; 
    width: 100%;

  }


  .container th{
    height: 80px;

  }

  .container table{
    width: 100%;
  }





  /* phase1 */
  .phase1 {
    border-collapse: collapse;
  }
  
  .phase1 th,
  .phase1 td {
    border: 1px solid black; 
    padding: 3px; 
    text-align: center; 
  }
  .phase1 th {
    background-color: #f2f2f2; 
  }

  
    /* phase */
  .phase2 {
    border-collapse: collapse;
  }
  
  .phase2 th,
  .phase2 td {
    border: 1px solid black; 
    padding: 3px; 
    text-align: center; 
  }
  
  .phase2 th {
    background-color: #f2f2f2; 
  }

  

  /* phase3 */
  .phase3 {
    border-collapse: collapse;
  }
  
  .phase3 th,
  .phase3 td {
    border: 1px solid black; 
    padding: 3px; 
    text-align: center; 
  }
  
  .phase3 th {
    background-color: #f2f2f2; 
  }